alembic==1.4.1
altair==4.1.0
appdirs==1.4.3
astor==0.8.1
attrs==19.3.0
backcall==0.1.0
base58==2.0.0
bcrypt==3.1.7
beautifulsoup4==4.9.0
bleach==3.3.0
blinker==1.4
boto3==1.12.45
botocore==1.15.45
cachetools==4.1.0
catboost==0.17.4
category-encoders==2.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
docutils==0.15.2
dominate==2.5.1
entrypoints==0.3
enum-compat==0.0.3
filelock==3.0.12
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Dance==3.0.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
graphviz==0.13
idna==2.9
importlib-metadata==1.5.0
ipykernel==5.2.1
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.3
jmespath==0.9.5
joblib==0.14.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.1.0
Mako==1.1.2
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==2.0.3
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.4.12
numpy==1.22.0
oauthlib==3.1.0
packaging==20.3
pandas==0.25.1
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.5
pickleshare==0.7.5
Pillow==9.0.1
pipenv==2022.1.8
plotly==4.1.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.15.0
psycopg2==2.8.4
pycparser==2.20
pydeck==0.3.1
Pygments==2.7.4
pyparsing==2.4.2
pyrsistent==0.16.0
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.2

pywinpty==0.5.7
pyzmq==19.0.0
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
s3transfer==0.3.3
scikit-learn==0.21.3
scipy==1.3.1
Send2Trash==1.5.0
six==1.12.0
soupsieve==2.0
SQLAlchemy==1.3.15
statsmodels==0.10.1
stevedore==1.32.0
streamlit==0.58.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.26.5
URLObject==2.4.3
validators==0.14.3
virtualenv==20.0.10
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
visitor==0.1.3
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
WTForms==2.2.1
zipp==3.1.0
